html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.app {
  max-width: 500px;
  margin: 6% auto 80%;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.app h4 {
  color: rgb(75, 74, 74);
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  margin-left: 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.likes {
  margin-bottom: -0.5rem;
}

.back {
  background-color: rgb(250, 250, 250);
  overflow-y: auto;
  flex-grow: 1;
}

header {
  padding: 1.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.posts-container {
  padding: 20px;
  overflow-y: auto;
}

.back::-webkit-scrollbar {
  display: none; 
}

.back {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.link a {
  color: #fff;
  background-color: #ff6370;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.link a:hover {
  background-color: #f38e96;
}

.top-categories {
  background-color: #ffffff;
  padding: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: 1px solid #e0e0e0;
  overflow-x: hidden; 
}

.category-list {
  display: flex;
  overflow-x: auto;
  padding: 0px 0;
}

.category-list::-webkit-scrollbar {
  display: none;
}

.category-list {
   padding-bottom: 0.3rem;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.category-item {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-item:hover .category-avatar {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.category-name {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
  border-radius: 0;
  margin-bottom: 4rem;
}

.post {
  background-color: #fcfcfc;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 2.5rem;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 0.4rem;
}

.username {
  flex-grow: 1;
  font-weight: bold;
}

.post-image {
  width: 100%;
  height: auto;
  margin-bottom: -0.5rem;
}

.post-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}

.category {
  font-size: 1rem;
  color: #555;
  font-weight: bold;
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}

.likes-section {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}

.likes-icon {
  margin-right: 0.5rem;
  color: #ff6370;
}

.likes-count {
  font-size: 16px;
  color: #555;
  margin-top: 0.3rem;
  margin-right: 1rem;
}

.blinking-text {
  margin-right: 2.5rem;
  color: #ff6370;
  font-weight: bold;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.ranking {
  display: flex;
  justify-content: center;
}

.shopping-bag{
  color: #928b8b;
  height: 1.3rem;
  margin-right: 0.7rem;
}